/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Header part  */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #2D25A0;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 100px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;  
}
.button{
    text-decoration: none;
    background-image: linear-gradient(purple, rgb(253, 138, 253));
    padding: 10px 20px;
    color: white;
    font-weight: 400;
}

/* Top part  */
h1{
    font-size: 55px;
    color: white;
}

.top-container{
    display: flex;
    background-color:#2D25A0;
    padding-top: 40px;
    
}
.top-part{
    width: 50%;
    padding-left: 7%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 2%;
    overflow: hidden;
}
.top-part img{
    width: 70%;
    border: 2px solid skyblue;
    padding-right: 50px;
    border-radius: 10px;
}
.top-part:hover .top-photo{
    transform: scale(1.3) rotate(360deg);
    transition: transform 2s ease-in-out;
}

/* Players style  */
.players .player {
    width: 330px;
    height: 447px;
}
.players .player img{
    width: 80%;
    height: 50%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player{
    width: 40%;
    margin: 20%;
    padding: 30px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}