/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Header part  */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #2D25A0;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 100px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;  
}
.button{
    text-decoration: none;
    background-image: linear-gradient(purple, rgb(253, 138, 253));
    padding: 10px 20px;
    color: white;
    font-weight: 400;
}

/* Top part  */
h1{
    font-size: 55px;
    color: white;
}

.top-container{
    display: flex;
    background-color:#2D25A0;
    padding-top: 40px;
    
}
.top-part{
    width: 50%;
    padding-left: 7%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 2%;
    overflow: hidden;
}
.top-part img{
    width: 70%;
    border: 2px solid skyblue;
    padding-right: 50px;
    border-radius: 10px;
}
.top-part:hover .top-photo{
    transform: scale(1.3) rotate(360deg);
    transition: transform 2s ease-in-out;
}

/* Players style  */
.middle{
    display: flex;
    justify-content: center;
}
.all-players{
    background-color: white;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20px;
    padding-right: 50px;
}
.player{
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    border-radius: 6px;
    box-shadow: 0px 0px 20px gray;

}
.player p{
    font-size: 10px;
}
.players .player img{
    width: 100%;
    height: 50%;
}

/* top players style  */
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    justify-content: center;

}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.players-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20px;
    padding-right: 50px;
    margin: 20px;
}
.player-bar{
    display: flex;
    align-items: center;
}
.player-bar img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog styles  */
.top-blogs{
    justify-content: center;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;

}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}